.w3-modal {
  z-index: 999;
}
.w3-modal-content {
  width:610px;
}

.w3-container {
    padding: 0px;
}

.head_logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.close_modal {
  position: absolute;
  top: -8px;
  right: -8px;
  display: block;
  width: 35px;
  height: 35px;
  object-fit: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  background-image: url(https://i.imgur.com/VBdx7Dh.png);
}

.close_modal:hover {
  opacity: 0.8;
}

.foot {
  font-size: 12px;
}
/*--------------------------*/
.dialog {
  align-items: center;
  text-align: center;
  min-height: 100vh;
  max-width: none;
  display: none;
  position: relative;
  width: 620px;
  font-size: 14px;
  border: 2px solid #73ad21;
  color: black;
  background-color: darkslategray;
  border-radius: 14px;
  opacity: 0.97;
  padding: 5px;
}

.dix {
  position: absolute;
  border: 2px solid #73ad21;
  background-color: darkslategray;
  border-radius: 14px;
  opacity: 0.97;
  padding: 5px;
  margin: 0 auto;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0.2px #9999;
}

.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0.2px #666;
  transform: translateY(2px);
}

.img_wrap {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.item {
  flex-basis: 25%;
  text-align: center;
}

.link_wrap {
  background-color: #3b483b;
  border: 10px solid transparent;
}
.img_container {
  background-color: #202720;
  border: 10px solid transparent;
}
