.w3-modal {
    z-index: 999;
  }
  .w3-modal-content {
    width:610px;
  }
  
  .w3-container {
      padding: 0px;
  }
  
  .head_logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .close_modal {
    position: absolute;
    top: -8px;
    right: -8px;
    display: block;
    width: 35px;
    height: 35px;
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    background-image: url(https://i.imgur.com/VBdx7Dh.png);
  }
  
  .close_modal:hover {
    opacity: 0.8;
  }
  
  .foot {
    font-size: 14px;
    text-decoration: dotted;
  }

 
  .button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #3e8e41;
  }
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0.2px #666;
    transform: translateY(2px);
  }
  
  .img_wrap {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .item {
    flex-basis: 25%;
    text-align: center;
    padding:1.5px;
  }
  
  .link_wrap {
    background-color: #3b483b;
    border: 10px solid transparent;
  }
  .img_container {
    background-color: #202720;
    border: 10px solid transparent;
  }
  
